<h1><%= @restaurant.name %></h1>
<h2>Reviews: </h2>
<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<p>Rating: <%= review.rating %></p>
<% end %>
<%= link_to 'Add a review',  new_restaurant_review_path(@restaurant)%>
<%= link_to 'Back', restaurants_path%>
